body {
	margin: 0;
	/*overflow: hidden;*/
}

.header {
	background-color: #c8e1c8;
	width: 100%;
	height: 70px;
}

.button {
	height: 50px;
	width: 50px;
	padding: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.mainButtons {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.icon {
	fill: #789178;
}

.saveButton {
	float: left;
}

.deleteButton {
	float: right;
}

.saveButton .icon {
	fill: #2d962d;
}

.deleteButton .icon {
	fill: #913232;
}

.colorButton .icon {
	fill:black;
}

.saveButton:hover .icon {
	fill:green;
}

.deleteButton:hover .icon {
	fill:red;
}

.checkbox {
	height: 90px;
	display: inline-block;
}

.pencilButton:select .icon {
	fill:black;
}

.buttonDiv {
	display: inline-block;
	position: relative;
}

.rangeDiv:hover .sliderDiv {
	display: block;

}

.sliderDiv {
	/*display: none;*/
	position: absolute;
	background-color: white;
	border: 3px solid #2d4b2d;
	padding-top: 3px;
	left: -50px;
}

.picker {
	display: inline-block;
}

.rangeDiv {
	padding: 20px;
	position: relative;
	top: -20px;
	display: inline-block;
	cursor: pointer;
}

.rangeNumber {
	font-size: 150%;
}

.rangeLabel {
	font-size: 75%;
}

.hidden {
	display: none;
}